<!DOCTYPE html>
<html>

<head>
  <title>Afuom Apps</title>
</head>

<body>
  <h1>Welcome to Afuom Apps API service!</h1>
  <h5>Greetings from Sam, Alexander, Sena, Priscilla, Khytee and Stefy</h5>


  <p>API Routes</p>
  <h1>POST Requests</h1>
  <h4>http://23.96.12.110/api/register</h4>

  <ul>
    <p>
      <em>info needed</em>:
      <li>name</li>
      <li>bio</li>
      <li>area</li>
      <li>latitude</li>
      <li>longitude</li>
      <li>crops_grown</li>
      <li>crops_grown</li>
      <li>crops_grown</li>
      <li>crops_grown</li>
      <li>interested_in_selling</li>
      <li>phone_contact</li>
    </p>
  </ul>

</body>

</html>